body{
	background:#D0DED4;
}
.fila{
	border:5px solid#E8707B;
	height:500px;
}
.columna1{
  border:2px solid black;
  background:#F2A391;
  height:120px;
}
.columna2{
  border:2px solid black;
  background:#BFA29B;
  height:120px;
}
.columna3{
  border:2px solid black;
  background:#F2E0DF;
  height:120px;
}
.columna4{
  border:2px solid black;
  background:#F20C0C;
  height:120px;
}
.columna5{
  border:2px solid black;
  background:#014029;
  height:120px;
}
